@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/animations.scss";

.accordian {
  &--icon {
    margin-right: space(8);
    font-size: pxtorem(24px);
    color: $navy;

    @include for-phone-only {
      font-size: pxtorem(18px);
      margin-right: 0;
    }

    &--open {
      transform: rotate(180deg);
      color: $navy;
    }
  }

  &--content {
    padding: space(16) 0;
    opacity: 0;
    animation: fadeIn 200ms ease-in-out 0s forwards;
  }

  &--container {
    margin: space(8);
  }

  &--button {
    cursor: pointer;
    padding: space(16) !important;

    @include for-phone-only {
      padding: 0 space(16) !important;
    }
  }

  &--header {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 11px;
    background-color: $faded-navy;
  }

  &--title {
    @include subtitle;
    color: $navy;
    line-height: pxtorem(36px);
    display: inline;
  }

  &--subtitle {
    @include body-xs;
    display: inline;
    color: $navy;
    margin-left: space(16);

    @include for-phone-only {
      margin-left: space(8);
    }
  }
}
