@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";

.donate-button {
  @include button-text;
  background-color: $purple;
  color: $white;
  border-radius: 36px;
  padding: space(12) space(20);
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &--navy {
    background-color: $navy;
  }
}
