// Main Colors
$purple: #722a83;
$green: #3f8883;
$navy: #1e2f5b;
$blue: #57a9c2;
$orange: #e2932e;

$black: #000;
$white: #fff;

// Greys
$grey: #bcc1c7;
$dark-grey: #333132;
$medium-grey: #858585;
$light-grey: #f9f9f9;

// Extended Palette

$faded-purple: #faf5fb;
$light-purple: #f0e8f7;
$medium-purple: #a36ece;
$dark-purple: #512a70;

$faded-navy: #f4f7ff;
$light-navy: #dae1f2;
$medium-navy: #3f5385;

$faded-green: #f2f9f7;
$light-green: #e6f2ef;
$medium-green: #98d0c6;
$aqua-haze: #e6f2ef;

// Status

$status-green: #56b673;
$status-red: #c23030;

// ---------------------

// Old colors - delete?
// Extended Green Palette
$tradewind: #4db39f;
$tradewind-light: #56b6b2;

$dark-green: #0a8870;

// Gradient
$gradient-start: #138b84;
$gradient-end: #56b6b2;

// Misc
$dark-grey: #4b4b4b;
$dark-purple: #512a70;

$light-purple: #faf5fb;
$light-green: #f2f9f7;
