@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";

.not-found {
  background-color: $white;

  @include for-phone-only {
    text-align: center;
  }

  &--title {
    @include heading-l;
    color: $navy;
  }

  &--content {
    @include body-l;
    color: $navy;
  }

  &--icon {
    margin-left: space(8);
    &--mobile {
      svg {
        width: 115px;
      }
    }
  }
}
