@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.register {
  @include container;

  &--form {
    margin-top: space(24) !important;
  }

  &--title {
    @include heading-l;
    color: $navy;
    margin-bottom: space(32);
  }

  &--image {
    margin-bottom: space(32);
    svg {
      @include for-phone-only {
        width: 115px;
        height: auto;
      }
    }
  }

  &--error {
    @include error;
    margin: space(24) space(16);
  }

  &--description {
    @include body-l;
    color: $navy;
    margin-bottom: space(32);

    p {
      margin: space(16) 0;
    }

    ul {
      margin: space(32) 0;
    }

    li {
      list-style-position: outside;
      margin: space(16) 0;
      margin-left: space(48);

      @include for-phone-only {
        margin-left: space(16);
      }
    }

    &--tight {
      @include body-l;
      color: $navy;
      margin-bottom: 0;
    }
  }

  &--subtitle {
    @include body-l;
    color: $navy;
    margin-bottom: space(24);
    font-weight: bold;
  }

  &--step-description {
    @include body-l;
    color: $navy;
    margin-bottom: space(56);

    @include for-phone-only {
      margin-bottom: space(32);
    }
  }

  &--hint {
    @include hint;
  }

  &--checkbox {
    margin-top: space(80);
    text-align: center;

    @include for-phone-only {
      margin-top: space(40);
    }
  }

  &--consent {
    margin-top: space(80);

    @include for-phone-only {
      margin-top: space(40);
    }

    .checkbox {
      margin: space(20) 0;
    }
  }

  &--footer {
    padding-top: space(120) !important;
    padding-bottom: space(120) !important;
    text-align: center;

    @include for-phone-only {
      padding-top: space(40) !important;
      padding-bottom: space(56) !important;
    }

    &--title {
      @include heading-s;
      color: $navy;
      margin-bottom: space(24);
    }

    &--description {
      @include body-l;
      color: $navy;
      margin-bottom: space(32);
    }
  }
}

.confirmation {
  text-align: center;
}
