@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/breakpoints.scss";
@import "../../../styles/fonts.scss";

.story-card {
  @include story-text;
  max-width: 380px;
  margin: space(20);
  padding: space(40) space(40) space(32) space(48);
  background-color: $light-green;
  color: $navy;
  cursor: pointer;
  border-radius: 84px 84px 10px 84px;

  &:nth-of-type(even) {
    background-color: $light-grey;
  }

  &:hover {
    transform: scale(1.1);
  }

  @include for-tablet-large-down {
    padding: space(32) space(40);
    margin: space(20) auto;
  }

  @include for-tablet-large-up {
    min-width: pxtorem(380px);
  }

  &--read-more {
    @include body-s;
    margin-top: space(12);
    color: $green;
    text-decoration-color: $green;
  }

  &--tags {
    margin: space(24) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    &--tag {
      margin: pxtorem(4px);
    }

    &--title {
      @include body-xs;
    }
  }

  &--excerpt {
    min-height: pxtorem(99px);
  }
}
