@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";
@import "../../styles/fonts.scss";

.header {
  position: relative;
  margin-bottom: space(120) !important;

  &--link {
    text-decoration: none;
    display: inline-block;
    margin-right: space(40);

    &--active {
      text-decoration: underline;
    }

    @include for-tablet-down {
    }
  }

  @include for-tablet-down {
    justify-content: center !important;
    -ms-flex-pack: justify !important;
    background-color: $light-grey;
  }

  @include for-tablet-large-up {
    margin-top: space(24);
    padding-bottom: space(40);
  }

  &--logo {
    display: inline-block;
    margin-top: space(16);
  }

  &--links {
    @include button-text;
    color: $navy;
    margin-top: space(48);
    justify-content: end !important;

    @include for-tablet-down {
      margin-top: space(32);
    }

    button {
      @include body-m-alt;
    }

    &--outer {
      width: 100%;
    }
  }

  &--icon {
    svg {
      color: $navy;
      height: 25px;
      margin-left: space(16);
      width: 25px;
      vertical-align: middle;

      @include for-tablet-down {
        height: 20px;
        margin-left: space(8);
        width: 20px;
      }
    }
  }
}

.user-header {
  background-color: $light-grey;
  padding: space(16) space(72) space(20) space(72) !important;
  justify-content: end !important;

  &--link {
    @include button-text;
    color: $navy;
    margin-right: space(40);
    text-decoration: none;

    &--login {
      text-decoration: underline;
    }
  }
}
