@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.checkbox {
  display: flex;
  justify-content: space-between;

  &--label {
    display: inline;
    flex: 1;
  }

  &--container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    @include for-phone-only {
      align-items: center;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    left: -99999px;
  }

  input[type="checkbox"] + label {
    @include body-m;
    cursor: pointer;
    margin-bottom: 0;
    color: $navy;

    @include for-phone-only {
      font-size: pxtorem(18px);
    }

    svg {
      display: none;
    }
  }

  input[type="checkbox"]:checked + label {
    vertical-align: middle;

    svg {
      display: inline-block;
      font-size: 1.4rem;
      top: 7px;
      position: absolute;
      left: 7px;
      color: $green;
    }
  }

  input[type="checkbox"] + label > #box {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: space(20);
    vertical-align: middle;
    cursor: pointer;
    background-color: $light-grey;
    position: relative;
    outline: 1px solid $medium-green;
    border-radius: 6px;
    margin-top: 7px;

    @include for-phone-only {
      margin-right: space(20);
    }
  }

  input[type="checkbox"]:focus + label > #box {
    outline: 1px solid $medium-green;
  }
}
