@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.footer {
  position: relative;

  &--purple {
    background-color: $light-purple;
  }

  &--grey {
    background-color: $light-grey;
  }

  &--green {
    background-color: $light-green;
  }
}
