@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/breakpoints.scss";

.privacy-policy {
  @include container;

  &--back {
    @include body-s;
    color: $purple;
    cursor: pointer;
  }

  &--title {
    @include heading-l;
    color: $navy;
    margin-top: space(32);
  }

  &--content {
    @include about;
    color: $navy;

    margin-top: space(88);

    @include for-phone-only {
      margin-top: space(40);
    }

    p {
      margin: space(16) 0;
    }

    ul {
      margin: space(32) 0;
    }

    li {
      list-style-position: outside;
      margin: space(16) 0;
      margin-left: space(48);

      @include for-phone-only {
        margin-left: space(16);
      }
    }

    &--container {
      @include for-phone-only {
        padding: 0 space(32) !important;
      }
    }
  }

  .checkbox {
    margin-top: space(16);
  }

  form {
    margin-top: space(32);
  }
}
