@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.story {
  @include container;
  position: relative;
  overflow: hidden;

  &--info {
    margin-top: space(20);

    &--date {
      @include subtitle;
      color: $navy;
      margin-top: space(32);

      @include for-tablet-large-up {
        margin-top: space(80);
      }

      @include for-tablet-large-down {
        margin-top: space(16);
      }

      @include for-phone-only {
        font-size: pxtorem(16px);
      }
    }

    &--back {
      @include subtitle;
      color: $green;
    }
  }

  &--background {
    position: absolute;
    z-index: -1;
    top: -65px;
    left: 42%;
    transform: rotate(7deg);

    svg {
      width: 900px;
    }
  }

  &--content {
    @include body-l;
    color: $navy;
    margin-top: space(40);
  }

  &--footer {
    padding: space(120) space(24) space(120) !important;

    @include for-tablet-down {
      padding-top: space(40) !important;
      padding-bottom: space(56) !important;
    }
  }

  &--tags {
    &--list {
      justify-content: flex-start !important;
    }
  }
}
