@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.link {
  color: $navy;
  display: inline-block;

  &--large {
    @include heading-m;
  }

  &--medium {
    @include heading-s;
  }

  &--small {
    @include body-l;
  }

  &--purple {
    color: $purple;
  }

  &--green {
    color: $green;
    text-decoration-color: $green;
  }
}
